@import "https://fonts.googleapis.com/css2?family=Economica&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Economica", sans-serif;
  text-align: center; }

header {
  background-color: #A6FF96;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navBar {
  display: flex;
  gap: 9.375rem;
  list-style: none;
  padding-right: 1.875rem; }
  .navBar a {
    text-decoration: none;
    color: black; }
  .navBar li:hover {
    transform: scale(1.2); }
  .navBar li a:hover {
    color: #BC7AF9; }

.alimentacionSaludable, .nutrientesNecesarios, .calorias {
  margin-top: 20px; }
  .alimentacionSaludable h1, .nutrientesNecesarios h1, .calorias h1 {
    font-size: 40px;
    padding-top: 30px; }
  .alimentacionSaludable p, .nutrientesNecesarios p, .calorias p {
    font-size: 30px;
    margin-top: 20px; }

.categorias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center; }

.caloriasGrafico {
  background-image: url(../assets/img/calorias_paradigma_IsmaelGalancho_Blog_V3.jpg);
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center; }

.caloriasNecesarias h1 {
  padding-top: 30px;
  font-size: 40px; }

.caloriasNecesarias p {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px; }

.transtornosAlimentarios h1 {
  padding-top: 30px;
  font-size: 40px; }

.transtornosAlimentarios p {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px; }

.sintomas h1 {
  padding-top: 30px;
  font-size: 40px; }

.sintomas p {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px; }

.recomendaciones h1 {
  padding-top: 30px;
  font-size: 40px; }

.recomendaciones p {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px; }

.intro p {
  font-size: 30px;
  margin-top: 20px; }

.intro h1 {
  font-size: 40px;
  padding-top: 40px; }

.clasesDe p {
  font-size: 30px;
  margin-top: 20px; }

.clasesDe h1 {
  font-size: 40px;
  padding-top: 40px; }

footer {
  background-color: #F8FF95;
  display: flex;
  gap: 2.5rem;
  justify-content: center; }
  footer a {
    text-decoration: none;
    font-size: 20px;
    color: black; }

@media (max-width: 64rem) {
  .navBar {
    gap: 6.25rem; } }

@media (max-width: 48rem) {
  header {
    flex-direction: column; }
  .categorias {
    grid-template-columns: 1fr; } }

@media (max-width: 26.5625rem) {
  .navBar {
    gap: .625rem;
    padding-left: 10px; }
  .caloriasGrafico {
    background-image: url(../assets/img/calorias425.jpg); } }

@media (max-width: 20rem) {
  .navBar {
    padding-left: 20px;
    gap: .9375rem;
    font-size: 15px; } }
