@import "https://fonts.googleapis.com/css2?family=Economica&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Economica", sans-serif;
  text-align: center; }

header {
  background-color: #A6FF96;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navBar {
  display: flex;
  gap: 9.375rem;
  list-style: none;
  padding-right: 1.875rem; }
  .navBar a {
    text-decoration: none;
    color: black; }
  .navBar li:hover {
    transform: scale(1.2); }
  .navBar li a:hover {
    color: #BC7AF9; }

.alimentacionSaludable, .nutrientesNecesarios, .calorias, .caloriasNecesarias, .transtornosAlimentarios, .sintomas, .recomendaciones, .intro, .clasesDe {
  margin-top: 20px; }
  .alimentacionSaludable h1, .nutrientesNecesarios h1, .calorias h1, .caloriasNecesarias h1, .transtornosAlimentarios h1, .sintomas h1, .recomendaciones h1, .intro h1, .clasesDe h1 {
    font-size: 40px;
    padding-top: 30px; }
  .alimentacionSaludable h2, .nutrientesNecesarios h2, .calorias h2, .caloriasNecesarias h2, .transtornosAlimentarios h2, .sintomas h2, .recomendaciones h2, .intro h2, .clasesDe h2 {
    font-size: 40px;
    padding-top: 30px; }
  .alimentacionSaludable p, .nutrientesNecesarios p, .calorias p, .caloriasNecesarias p, .transtornosAlimentarios p, .sintomas p, .recomendaciones p, .intro p, .clasesDe p {
    font-size: 140%;
    margin: 10px 20px 15px 30px; }

.categorias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center; }

.caloriasGrafico {
  background-image: url(../assets/img/calorias_paradigma_IsmaelGalancho_Blog_V3.jpg);
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center; }

footer {
  background-color: #F8FF95;
  display: flex;
  gap: 2.5rem;
  justify-content: center; }
  footer a {
    text-decoration: none;
    font-size: 20px;
    color: black; }

@media (max-width: 64rem) {
  .navBar {
    gap: 6.25rem; } }

@media (max-width: 48rem) {
  header {
    flex-direction: column; }
  .categorias {
    grid-template-columns: 1fr; } }

@media (max-width: 26.5625rem) {
  .navBar {
    gap: 1.25rem;
    padding-left: 15px; }
  .caloriasGrafico {
    background-image: url(../assets/img/calorias425.jpg); } }

@media (max-width: 20rem) {
  .navBar {
    padding-left: 20px;
    gap: .9375rem;
    font-size: 15px; } }
