.alimentacionSaludable {
	margin-top: 20px;
	h1 {
		font-size: 40px;
		padding-top: 30px;
	}
	p {
		font-size: 140%;
		margin: 10px 20px 15px 30px;
	}
}
.nutrientesNecesarios {
	@extend .alimentacionSaludable
}
.categorias {
	@include grid
}
.caloriasGrafico {
	background-image: url(../assets/img/calorias_paradigma_IsmaelGalancho_Blog_V3.jpg);
	width: 100%;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center center;
}
.calorias {
	@extend .alimentacionSaludable
	}

.caloriasNecesarias {
	@extend .alimentacionSaludable
}

.transtornosAlimentarios {
	@extend .alimentacionSaludable
}
.sintomas {
	@extend .alimentacionSaludable
}
.recomendaciones {
	@extend .alimentacionSaludable
}
.intro {
	@extend .alimentacionSaludable
}
.clasesDe {
	@extend .alimentacionSaludable
}



